body {
  font-size: 16px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: lightblue;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;

}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0;
  background-color: #E0FFFF;
  font-weight: bold;
}
#nav-list a {
  text-align: center;
}
/*END HEADER*/

/*HOME PAGE*/
#our-menu {
  color: black;
  text-shadow: 1px 1px 1px #222;
  margin-bottom: 40px;
  margin-top: 30px;
}

.row .box-description {
  background-color: lightblue;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
  overflow: hidden;
}

.title {
  font-size: 1.5em;

  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
}
.text {
  font-family: "Colibri", "Comic Sans";
  padding: 0 40px;
  text-align: justify;
}

/*END HOME PAGE*/

